In [58]:
import pandas as pd
import numpy

### Primero importamos los datasets (entrenamiento y validación), para después poder empezar a tratar los datos. ###

In [67]:
from sklearn.model_selection import cross_validate
from sklearn.naive_bayes import GaussianNB

golf = "golf.csv"
golfT = "golf-test.csv"
golfFH = open(golf, "r")
golfEntFH = open(golfT, "r")
golfD = pd.read_csv(golfFH, sep=",")
golfEntD = pd.read_csv(golfEntFH, sep=",")
golfFH.close()
golfEntFH.close()
golfD.head(15)

     Outlook  Temperature  Humidity   Wind Play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        78  False  yes
3       rain           70        96  False  yes
4       rain           68        80  False  yes
5       rain           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9       rain           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13      rain           71        80   True   no

### Para éste ejercicio voy a utilizar Naives-Bayes Gauciano, por lo cual todos mis valores deben ser numéricos. ###
### Para esto convierto los valores categóricos (clases) en números, para poder trabajar con ellos en Naives Bayes Gauciano. ###

In [68]:
# Map string vales for Outlook column to numbers
a = {'sunny': 1, 'overcast': 2, 'rain': 3}
golfD.Outlook = [a[item] for item in golfD.Outlook.astype(str)]

# Map string vales for Wind column to numbers
b = {'False': 0, 'True': 1,}
golfD.Wind = [b[item] for item in golfD.Wind.astype(str)]

# Map string vales for Wind column to numbers
c = {'no': 0, 'yes': 1,}
golfD.Play = [c[item] for item in golfD.Play.astype(str)]

golfD.head(15)

    Outlook  Temperature  Humidity  Wind  Play
0         1           85        85     0     0
1         1           80        90     1     0
2         2           83        78     0     1
3         3           70        96     0     1
4         3           68        80     0     1
5         3           65        70     1     0
6         2           64        65     1     1
7         1           72        95     0     0
8         1           69        70     0     1
9         3           75        80     0     1
10        1           75        70     1     1
11        2           72        90     1     1
12        2           81        75     0     1
13        3           71        80     1     0

In [69]:
# Map string vales for Outlook column to numbers
d = {'sunny': 1, 'overcast': 2, 'rain': 3}
golfEntD.Outlook = [d[item] for item in golfEntD.Outlook.astype(str)]

# Map string vales for Wind column to numbers
e = {'False': 0, 'True': 1,}
golfEntD.Wind = [e[item] for item in golfEntD.Wind.astype(str)]

# Map string vales for Wind column to numbers
f = {'no': 0, 'yes': 1,}
golfEntD.Play = [f[item] for item in golfEntD.Play.astype(str)]


golfEntD.head(15)

    Outlook  Temperature  Humidity  Wind  Play
0         1           85        85     0     1
1         2           80        90     1     0
2         2           83        78     0     1
3         3           70        96     0     1
4         3           68        80     1     1
5         3           65        70     1     0
6         2           64        65     1     1
7         1           72        95     0     0
8         1           69        70     0     1
9         1           75        80     0     0
10        1           68        70     1     1
11        2           72        90     1     1
12        2           81        75     1     0
13        3           71        80     1     1

### Aquí selecciono los atributos de entrada y el label (Jugar) ###

In [75]:
entrenamiento = golfD 
validacion = golfEntD

naivesBayes = GaussianNB()
entrenamientoF = entrenamiento.loc[:,['Outlook','Temperature','Humidity','Wind','Play']]
entrenamientoL = entrenamiento.iloc[:,4]
validacionF = validacion.loc[:,['Outlook','Temperature','Humidity','Wind','Play']]
validacionL = validacion.iloc[:,4]

### Entreno el modelo y muestro las labels, las predicciones ###

In [76]:
# Train the naive bayes model
naivesBayes.fit(entrenamientoF, entrenamientoL)

# build a dataframe to show the expected vs predicted values
entrenamientoD = pd.concat([validacionF, validacionL], axis=1)
entrenamientoD["prediction"] = naivesBayes.predict(entrenamientoF)
print(entrenamientoD)

# Use the score function and output the prediction accuracy
print ("Naive Bayes Accuracy:", naivesBayes.score(validacionF,validacionL))

    Outlook  Temperature  Humidity  Wind  Play  Play  prediction
0         1           85        85     0     1     1           0
1         2           80        90     1     0     0           0
2         2           83        78     0     1     1           1
3         3           70        96     0     1     1           1
4         3           68        80     1     1     1           1
5         3           65        70     1     0     0           0
6         2           64        65     1     1     1           1
7         1           72        95     0     0     0           0
8         1           69        70     0     1     1           1
9         1           75        80     0     0     0           1
10        1           68        70     1     1     1           1
11        2           72        90     1     1     1           1
12        2           81        75     1     0     0           1
13        3           71        80     1     1     1           0
Naive Bayes Accuracy: 1.0